@model IEnumerable<BoxingClub.Web.Models.TournamentLiteViewModel>

@{
    ViewData["Title"] = "View";
}

<div class="d-flex justify-content-between mb-2">
    <h1>All Tournaments</h1>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="CreateTournament" asp-controller="Tournament">Create New Tournament</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMedCertificateNecessary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (item.IsMedCertificateNecessary)
                    {
                        @Html.Raw("Yes")
                    }
                    else
                    {
                        @Html.Raw("No")
                    }
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        @Html.ActionLink("Edit", "EditTournament", new { id = item.Id }, new { @class = "btn btn-outline-primary px-3 btn-sm" })
                        @Html.ActionLink("Details", "DetailsTournament", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm px-3 ml-3" })
                        @Html.ActionLink("Delete", "DeleteTournament", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm px-3 ml-3" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
