@model IEnumerable<BoxingClub.WEB.Models.UserViewModel>

@{
    ViewData["Title"] = "All Users";
}

<h1 class="mb-3">All Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        @Html.ActionLink("Edit", "EditUser", "Administration", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm px-3" })
                        @Html.ActionLink("Details", "DetailsUser", "Administration", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm px-3 ml-3" })
                        @Html.ActionLink("Delete", "DeleteUser", "Administration", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm px-3 ml-3" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
