@model IEnumerable<BoxingClub.WEB.Models.BoxingGroupFullViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachPatronymic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachPatronymic)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGroup", new { id = item.Id}) |
                @Html.ActionLink("Details", "DetailsGroup", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteGroup", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
